@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin headers {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

@mixin hours {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  video {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: fill;
    z-index: -1;
  }
  // background: url("/bg.jpg") no-repeat center;
  background-size: cover;
  @include flex();
  .siege {
    background: black;
    tr {
      &:nth-child(even) {
        background: rgb(39, 37, 37);
      }
      .days {
        padding: 20px;
        background: linear-gradient(to right top, #051937, #004d7a);
        @include headers();
      }
      .fortress {
        padding: 10px;
        @include headers();
      }
      td {
        text-align: center;
        padding: 0 10px;
        @include hours();
      }
    }
  }
}
